.detalle-al{
    border: 1px solid aquamarine;
    border-radius: 14px;
    width: 55%;
    border-radius: 10px;
    height: 115%;
    padding: 2%;
}

.title-detalle-al{
padding: 2%;
display: flex; 
justify-content: center;
color: aquamarine;
font-size: x-large;
font-weight: 500;
}

.sub-detalle-al{
    font-size: large;
    border: 2px solid rgb(119, 15, 179) ;
    padding: 1%;
    border-radius: 10px;
    color: aquamarine;

}

.alum{
    margin-left: 2%;
    font-size: large;
    font-weight: 300;
    color: white;
}
    
.sub-info-al{
    font-size: large;
    border: 2px solid rgb(119, 15, 179) ;
    padding: 1%;
    border-radius: 10px;
    color: aquamarine;

}
.info{
    margin-left: 2%;
    font-size: large;
    font-weight: 300;
    color: white;
}