.example-container {
  height: 100vh;
}

.example-sidenav-content {
  main {
    padding: 1rem;
  }
}

.example-sidenav {
  padding: 20px;
}
.sidebar-usuario{
  margin-top: 5%;
  font-size: medium;
  font-weight: 500;
}  
.tool-cont{
 margin-left: 5%;
 display: flex;
 justify-content: center;
 align-items: center;
}
.usernametool{
 margin-top: 3%;
 background-color: #7B1FA2;
 color: white;
 padding: 3%;
 padding-left: 6%;
 padding-right: 6%;
 border-radius: 22px;
 font-size: medium;
 font-weight: 100;
}
.logout{
  background-color: #7B1FA2;
  color: white;
  border-radius: 14px;
  margin-top: 4%;
}